<ion-view title="Central Coast HTML">
  <ion-content padding="true" class="has-header">
    <creator-map-component options="{}" marker="true" location="95 Erina Street, Gosford, nsw, 2250" zoom="12" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
  </ion-content>
</ion-view>