<ion-view title="Central Coast" id="page15">
  <ion-content padding="true" class="has-header">
    <creator-map-component options="{}" marker="true" location="95 Erina Street, Gosford, nsw, 2250" zoom="17" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <creator-map-component options="{}" marker="true" location="1/92 Blackwall Road, woy woy, nsw, 2256" zoom="17" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <creator-map-component options="{}" marker="true" location="2/34 Pacific Highway Wyong NSW 2259" zoom="17" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <creator-map-component options="{}" marker="true" location="211B The Entrance Road, The Entrance, NSw, 2261" zoom="17" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
  </ion-content>
</ion-view>