<ion-view title="Find Us" id="page8">
  <ion-content padding="false" style="background: url(img/kEeg5Ry1S5GeHRpZbprj_image002.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.jobCentreAustralia2()" id="findUs-button28" class="button button-calm button-small icon ion-ios-home"></a>
    <div class="spacer" style="width: 320px; height: 2px;"></div>
    <iframe frameborder="0" style="width:100%;height:500px" src="//www.zeemaps.com/pub?group=2476983&amp;legend=1&amp;locate=1&amp;search=1&amp;list=1&amp;shuttered=1&amp;x=151.423946&amp;y=-33.286628&amp;z=7"> </iframe>
    <ion-list id="findUs-list6">
      <div class="item item-body remove_border" id="findUs-list-item-container6">
        <ion-list id="findUs-list7">
          <div class="item item-body row" id="findUs-list-item-container8">
            <button id="findUs-button13" class="button button-positive col small_button">NSW</button>
            <button id="findUs-button17" class="button button-positive col small_button">QLD</button>
          </div>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>
</ion-view>