<ion-view title="Job Centre Australia" id="page17" style="background-color:#00ACCF;">
  <ion-content padding="true" style="background: url(img/jQinkRw0RH282vi5Tm5e_image002.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <ion-list id="jobCentreAustralia2-list1">
      <div class="item item-body center-container remove_border" id="jobCentreAustralia2-list-item-container5">
        <ion-list id="jobCentreAustralia2-list2">
          <div class="item item-body row" id="jobCentreAustralia2-list-item-container1">
            <a ui-sref="tabsController.jobCentreAustralia()" id="jobCentreAustralia2-button12" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-large col large_button">About Us</a>
            <a ui-sref="tabsController.contactUs()" id="jobCentreAustralia2-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-large col large_button">Contact Us</a>
          </div>
          <div class="item item-body row" id="jobCentreAustralia2-list-item-container4">
            <a ui-sref="tabsController.findUs()" id="jobCentreAustralia2-button27" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-large col large_button">Find Us</a>
            <a ui-sref="tabsController.userHome()" id="jobCentreAustralia2-button25" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-large col large_button">My Account</a>
          </div>
          <div class="item item-body row" id="jobCentreAustralia2-list-item-container2">
            <a ui-sref="tabsController.jobSearch()" id="jobCentreAustralia2-button19" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-large col large_button">Job Search</a>
            <a ui-sref="tabsController.login()" id="jobCentreAustralia2-button22" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-large col large_button">Login</a>
          </div>
        </ion-list>
        <div id="jobCentreAustralia2-button-bar7" class="button-bar row remove_border">
          <a href-inappbrowser="https://www.facebook.com/JobCentreAustralia" id="jobCentreAustralia2-button30" class="button button-positive button-block icon ion-social-facebook"></a>
          <button id="jobCentreAustralia2-button31" ng-click="openurl(&quot;https://www.linkedin.com/company/job-centre-australia-limited?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A773860%2Cidx%3A1-1-1%2CtarId%3A1441863180651%2Ctas%3Ajob+centre+australia&quot;)"
            class="button button-calm button-block icon ion-social-linkedin"></button>
          <a href-inappbrowser="https://www.youtube.com/channel/UCfEwFbFPZZSzmlT9oOaG6Ug" id="jobCentreAustralia2-button32" class="button button-positive button-block icon ion-social-youtube"></a>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>