<ion-view title="Job Centre Australia" id="page2">
  <ion-content padding="true" class="has-header">
    <center>
      <img src="http://jobcentreaustralia.com.au/images/Mailing1/JCAL.jpg" height="200px" width="300px/">
    </center>
    <div id="jobCentreAustralia-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Welcome to Job Centre Australia Job Centre Australia Limited is a not-for profit community-based organisation that has provided services to people with a disability through State and Federal Government funding for 25 years.</p>

      <p style="color:#000000;">We specialise in empowering people with a disability, illness or health condition to improve their circumstances through a range of training, support and employment opportunities.</p>

      <p style="color:#000000;">Our vision: To enhance our client’s quality of life by developing their potential.</p>

      <p style="color:#000000;">Our mission: Empowering people for tomorrow’s opportunities.</p>
    </div>
  </ion-content>
</ion-view>