<ion-view title="Job Search" id="page9">
  <ion-content padding="true" style="background: url(img/01acSrhRRGTnUdkZToGO_tick.PNG) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.jobCentreAustralia2()" id="jobSearch-button24" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-small icon ion-ios-home"></a>
    <iframe src="http://jobcentreaustralia.com.au/1404wpejw/#embeddable-job-widget" height="100%" width="100%"></iframe>
  </ion-content>
</ion-view>