<ion-view title="Signup" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page12" style="background-color:#00ACCF;">
  <ion-content padding="true" style="background: url(img/Y7snqoSTyetVDAixebWA_image001.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div id="signup-markdown6" ng-if="error" style="text-align:center;" class="show-list-numbers-and-dots error-box">
      <p style="color:#000000;">{{error}}</p>
    </div>
    <form id="signup-form5" class="list center-form">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input13">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" ng-model="data.name">
        </label>
        <label class="item item-input" id="signup-input15">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="data.email">
        </label>
        <label class="item item-input" id="signup-input14">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="signup-button5" ng-click="signup()" style="border-radius:50px 50px 50px 50px;" class="button button-calm button-block">Sign Up</button>
      <a ui-sref="tabsController.login()" id="signup-button6" class="button button-light button-block button-clear">Already have an account?</a>
    </form>
  </ion-content>
</ion-view>