<ion-view title="UserHome" id="page11">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.jobCentreAustralia2()" id="userHome-button14" style="border-radius:5px 5px 5px 5px;" class="button button-calm button-small icon ion-ios-home"></a>
    <center>
      <img gravatar-src="userData.email" gravatar-size="200">
    </center>
    <a ui-sref="tabsController.updateProfile()" id="userHome-button26" style="font-weight:lighter;font-style:italic;border-radius:5px 5px 5px 5px;" class="button button-calm button-small button-outline icon ion-edit"> Edit</a>
    <div id="userHome-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name: {{userData.name}}</p>

      <p style="color:#000000;">Email: {{userData.email}}</p>

      <p style="color:#000000;">Phone: {{customdata.phone}}</p>

      <p style="color:#000000;">Street Address: {{customdata.streetaddress}}</p>

      <p style="color:#000000;">Suburb: {{customdata.suburb}}</p>

      <p style="color:#000000;">State: {{customdata.state}}</p>

      <p style="color:#000000;">Postcode: {{customdata.postcode}}</p>
    </div>
    <div id="userHome-button-bar6" class="button-bar"></div>
    <a ui-sref="tabsController.messageUs()" id="userHome-button21" style="border-radius:50px 50px 50px 50px;" class="button button-calm button-block">Message Us</a>
    <button id="userHome-button7" ng-click="logout()" style="border-radius:50px 50px 50px 50px;" class="button button-calm button-block">Log Out</button>
  </ion-content>
</ion-view>